### Qn.1 Print numbers from 1 to 5 using a while loop.

In [2]:
i=1
while(i<=6):
    print(i, end=" ")
    i+=1

1 2 3 4 5 6

### Qn.2 Calculate the sum of numbers from 1 to 10 using a while loop.

In [4]:
sum=0
i=1
while(i<=10):
    sum+=i
    i+=1
print("Sum : ",sum)

Sum :  55

### Qn.3 Calculate the factorial of a number using a for loop.

In [21]:
num=int(input("Enter num : "))
fact=1
for i in range(1,num+1):
    fact=fact*i
print(fact)

Enter num : 5
120

### Qn.4 Count the number of vowels in a string using a for loop.

In [23]:
string=input("Enter String : ")
count=0
vowels=['a','A','e','E','i','I','o','O','u','U']
for i in string:
    if(i in vowels):
        count+=1
print(f"Total vowels in string : {count}")

Enter String : cauliflower
Total vowels in string : 5

### Qn.5 Print a pattern using nested loops.

In [27]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*",end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

### Qn.6 Generate a multiplication table using nested loops.

In [37]:
def multiplication_table(size):
    print("Multiplication Table:")
    
    for i in range(1, size + 1):
        for j in range(1, size + 1):
            print(f"{i * j:4}", end=' ')
        print()
        
size = 10
multiplication_table(size)

Multiplication Table:
   1    2    3    4    5    6    7    8    9   10
   2    4    6    8   10   12   14   16   18   20
   3    6    9   12   15   18   21   24   27   30
   4    8   12   16   20   24   28   32   36   40
   5   10   15   20   25   30   35   40   45   50
   6   12   18   24   30   36   42   48   54   60
   7   14   21   28   35   42   49   56   63   70
   8   16   24   32   40   48   56   64   72   80
   9   18   27   36   45   54   63   72   81   90
  10   20   30   40   50   60   70   80   90  100